<div class="container background">
    <div class="row">
        <div class="col-xs-12 md-6 mx-auto testo">
            <div id="countUp">
                <div class="number">403</div>
                <div class="text">ERRORE : ERRORE INTERNO DEL SERVER.</div>
                <div class="text">C'è qualquadra che non cosa.</div>
                <div class="text">Prova a tornare alla <button type="button" class="btn btn-dark" routerLink="/homepublica" routerLinkActive="active">HOME</button></div>
            </div>
        </div>
    </div>
</div>            
            