.contenitoreMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.contenitoreMenu > .menu {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.contenitoreMenu > .footer {
    flex-grow: 2;
    width: 100%;
    height: 60%;
}

.contenitoreMenu > .input-group > .input-group-prepend > .input-group-text {
    height: 36px !important;
}


/* #region ColonneDa1 */
.contenitoreMenu > .input-groupColonna1 {
    width: 30%;
    margin-left: 260px;
}
.contenitoreMenu > .contenitoreColonna1 {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    -webkit-box-orient: horizontal;
    margin: 0 auto;
}

.contenitoreMenu > .contenitoreColonna1 > .canaliTwitch {
    flex-grow: 1;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}
.contenitoreMenu > .contenitoreColonna1 > .aggiornamenti {
    flex-grow: 1;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid red;
    padding: 10px;
}
/* #endregion */



.input-group {
    -webkit-box-align: baseline;
    align-items: flex-start;
}

@media only screen and (max-width: 600px) {

};