<div class="contenitoreMenu">
        <div class="menu">
                <app-navbar-pub></app-navbar-pub>
        </div>
        <h2 class="text-center mt-5 mb-3">Il nostro canale</h2>
        <!-- <div class="input-groupColonna1 input-group mb-3">
                Tipo di visualizzazione :&nbsp;&nbsp;
                <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">
                                <i class="fa fa-filter" aria-hidden="true"></i></label>
                </div>
                <form [formGroup]="viewStreamerGroup">
                        <select formControlName="viewSelected" class="custom-select" id="inputGroupSelect01"
                                (change)="setView($event.target.value)">
                                <option [value]="view" *ngFor="let view of viewsSelector">{{view}}</option>
                        </select>
                </form>
        </div> -->
        <alert></alert>
        <div class="contenitoreColonna1 mb-3">
                <div class="aggiornamenti">
                        <table class="responsive-table centered">
                                <tr>
                                        <th>Nome streamer</th>
                                        <td>AAAAAAA</td>
                                </tr>
                                <tr>
                                        <th>Status</th>
                                        <td>online</td>
                                </tr>
                        </table>
                </div>
                <div class="canaliTwitch p-2">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.twitch.tv/?channel=alexssioedibba" frameborder="0"
                                        allowfullscreen="true" scrolling="no" height="320" width="680">
                                </iframe>
                                <a href="https://www.twitch.tv/alexssioedibba?tt_content=text_link&tt_medium=live_embed"
                                        style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">
                                        Guarda il video live di alexssioedibba su www.twitch.tv</a> -->
                        </div>
                </div>
        </div>
        <div class="footer">
                <app-footer></app-footer>
        </div>
</div>