.card {
    background-color: rgba(0, 140, 255, 0.15) !important;
}

.table {
    color: white !important;
}

.modal .modal-content {
    padding: 5px;
    height: 100%;
}

#myModal {
    color: black !important;
    padding: 5px !important;
    height: auto !important;
}